@import "../theme";
.container{
  $width:90vw;
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr;
  grid-gap: .5rem;
  width: $width;
  height: $width/4*5;
  $space-from-bottom: (100vw - $width)/2;
  margin: 0 auto $space-from-bottom auto;
}
.button {
  border:none;
  color: $main-text-color;
  font-size: inherit;
  padding: .25rem;
  box-sizing: content-box;
  line-height: 1;
  border-radius: 50%;
  outline: none;
}
.button--zero, .button--dot, .button--number {
  @extend .button;
  background:none;
}
.button--operation {
  @extend .button;
  background: #8c8c8c;
}
.button--math-operation {
  @extend .button;
  background: #ff7700;
}