@import "../theme";
.container{
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr;
  grid-gap: .5rem;
  justify-items: center;
  margin-bottom: 1rem;
}
.button {
  border:none;
  color: $main-text-color;
  font-size: 1.2em;
  padding: 0;
  box-sizing: content-box;
  line-height: 1;
  border-radius: 50%;
  outline: none;
  display: inline-block;
  height: 3em;
  width: 3em;
  text-align: center;
  &:active {
    color: black;
    background: white;
    box-shadow: white 0 0 5px 0;
  }
}
.button--zero, .button--dot, .button--number {
  @extend .button;
  background:none;
}
.button--operation {
  @extend .button;
  background: #8c8c8c;
}
.button--math-operation {
  @extend .button;
  background: #ff7700;
}